[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flake8 = "*"
sqlalchemy = "*"
pytest = "*"
psycopg2-binary = "*"
python-dotenv = "*"
factory-boy = "*"
alembic = "*"

[dev-packages]

[requires]
python_version = "3.10"
