[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flake8 = "*"
sqlalchemy = "*"
pytest = "*"
psycopg2-binary = "*"
python-dotenv = "*"
factory-boy = "*"
pytest-mock = "*"
pytest-sqlalchemy = "*"
alembic = "*"
passlib = "*"
argon2-cffi = "*"
pyjwt = {extras = ["crypto"], version = "*"}
mypy = "*"

[dev-packages]

[requires]
python_version = "3.10"
